@model IEnumerable<WebApp.Models.fleet_vehicle_models>

@{
    var model = Model;
}
<div class="col-lg-12 animated fadeIn">
    <div class="card-box" style="height: 550px;overflow: auto;">

        <button type="button" data-toggle="tooltip" data-placement="left" data-original-title="Add new record" id="add-new-item" class="editVehicleModel btn btn-success waves-effect waves-light btn-sm"><i class="fa fa-plus"></i></button>
        <span class="pull-right">
            <input type="text" class="form-control search-from-table" placeholder="Search item">
        </span>
        <hr />
        <form action="#" class="form-pick-list">
            <table cellpadding="1" cellspacing="1" class="table table-hover collapsable-table" id="vehicle-model-table">
                <thead>
                    <tr>
                        <th>Models</th>
                        <th style="text-align:center !important">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (model.Count() > 0)
                        {
                            var tmpMake = string.Empty;

                            foreach (var m in model)
                            {

                                if (@m.Make != tmpMake)
                                {

                                    <tr data-depth="0" class="collapse_table level0">
                                        <td colspan="2"><span class="toggle collapse"></span><b style="padding-left:10px;">@m.Make.ToUpper()</b></td>
                                    </tr>
                                }

                                <tr data-depth="1" class="collapse_table level1">
                                    <td id="@m.Model">@m.Model</td>
                                    <td align="center">
                                        <a id="@m.ModelID" data-toggle="tooltip" data-placement="top" data-original-title="Edit Record" href="#" class="editVehicleModel btn btn-icon waves-effect waves-light btn-primary p-lr-5"><i class="md md-border-color"></i></a>
                                        <a id="@m.ModelID" filterBy="ModelID" module="fleet_vehicle_models" data-toggle="tooltip" data-placement="top" data-original-title="Remove Record" href="#" class="remove-item btn btn-icon waves-effect waves-light btn-default p-lr-5"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>

                                tmpMake = m.Make;

                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="2" class="noResult">
                                    No Available Vehicle Model(s)
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </form>
    </div>
</div>