@model WebApp.Controllers.DealersInformation

@{

    var dealers = ((Model.dealers == null) ? null : Model.dealers.SingleOrDefault());

    var referencedFleet = ((Model.referencedFleet != null) ? Model.referencedFleet : null);

    var attachment = Model.getDealerAttachment;

    ViewBag.Module = "DEALERS";
}


<form action="#" data-parsley-validate="" novalidate="" id="add-edit-dealers">

    <div class="col-lg-4 ">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>Dealer's Info</b></h4>
            <p class="text-muted font-13 m-b-30">
                Create / Edit Dealer's Info
            </p>
            <div class="col-md-12">

                <div class="form-group">

                    @{ var dealerRefCode = ((@dealers != null) ? @dealers.DealerRefCode : string.Empty); }
                    @{ var id = ((@dealers != null) ? @dealers.id : 0); }

                    <input type="hidden" class="form-control" name="DealerRefCode" value="@dealerRefCode">
                    <input type="hidden" class="form-control" name="id" value="@id">
                    <input type="hidden" class="form-control" name="deleted_files" id="dealer_deleted_files" value="" />

                    @{ var DealerNo = ((@dealers != null) ? @dealers.DealerNo : string.Empty); }

                    <label class="control-label">Dealer No : <span class="required">*</span></label>
                    <input type="text" class="form-control" placeholder="" name="DealerNo" value="@DealerNo" required="">

                </div>
                <div class="form-group">
                    @{ var Name = ((@dealers != null) ? @dealers.Name : string.Empty); }
                    <label class="control-label">Dealer Name : <span class="required">*</span></label>
                    <input type="text" class="form-control" name="Name" value="@Name" required="">
                </div>
                <div class="form-group">
                    @{ var Address = ((@dealers != null) ? @dealers.Address : string.Empty); }
                    <label class="control-label">Mailing Address : <span class="required">*</span></label>
                    <textarea class="form-control" name="Address" rows="4" required="">@Address</textarea>
                </div>
                <div class="form-group">
                    @{ var PostalCode = ((@dealers != null) ? @dealers.PostalCode : string.Empty); }
                    <label class="control-label">Postal Code : <span class="required">*</span></label>
                    <input type="text" class="form-control" name="PostalCode" value="@PostalCode" required="">
                </div>
                <div class="form-group">
                    @{ var Phone = ((@dealers != null) ? @dealers.Phone : string.Empty); }
                    <label class="control-label">Phone No : <span class="required">*</span></label>
                    <input type="text" class="form-control" name="Phone" value="@Phone" required="">
                </div>
                <div class="form-group">
                    @{ var Email = ((@dealers != null) ? @dealers.Email : string.Empty); }
                    <label class="control-label">Email: <span class="required">*</span></label>
                    <input type="email" class="form-control" name="Email" value="@Email" required="">
                </div>
                <div class="form-group">
                    @{ var Fax = ((@dealers != null) ? @dealers.Fax : string.Empty); }
                    <label class="control-label">Fax : <span class="required">*</span></label>
                    <input type="text" class="form-control" name="Fax" value="@Fax" required="">
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-8">
        <div class="clearfix">

            <ul class="nav nav-tabs tabs" style="width: 100%;" id="dealers-tabs">
                <li class="active tab" style="width: 25%;">
                    <a href="#data_tab" data-toggle="tab" aria-expanded="false" class="active">
                        <span class="visible-xs" data-toggle="tooltip" data-placement="top" data-original-title="Data"><i class="fa fa-info"></i></span>
                        <span class="hidden-xs">Data</span>
                    </a>
                </li>
                <li class="tab" style="width: 25%;">
                    <a href="#provided_vehicle_tab" data-toggle="tab" aria-expanded="false">
                        <span class="visible-xs" data-toggle="tooltip" data-placement="top" data-original-title="Provided Vehicle"><i class="fa fa-car"></i></span>
                        <span class="hidden-xs">Provided Vehicle</span>
                    </a>
                </li>
                <li class="tab" style="width: 25%;">
                    <a href="#attachement_tab" data-toggle="tab" aria-expanded="false">
                        <span class="visible-xs" data-toggle="tooltip" data-placement="top" data-original-title="Attachments"><i class="fa fa-folder-open"></i></span>
                        <span class="hidden-xs">Attachments</span>
                    </a>
                </li>
                <li class="tab" style="width: 25%;">
                    <a href="#others_tab" data-toggle="tab" aria-expanded="false">
                        <span class="visible-xs" data-toggle="tooltip" data-placement="top" data-original-title="Others"><i class="md md-apps"></i></span>
                        <span class="hidden-xs">Others</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content clearfix">
                <div class="row tab-pane active" id="data_tab">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-color panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Operational Point of Contact</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        @{ var OPCName = ((@dealers != null) ? @dealers.OPCName : string.Empty); }
                                        <label class="control-label">Name : <span class="required">*</span></label>
                                        <input type="text" class="form-control" name="OPCName" value="@OPCName" required="">
                                    </div>
                                    <div class="form-group">
                                        @{ var OPCPhone = ((@dealers != null) ? @dealers.OPCPhone : string.Empty); }
                                        <label class="control-label">Phone No. : <span class="required">*</span></label>
                                        <input type="text" class="form-control" name="OPCPhone" value="@OPCPhone" required="">
                                    </div>
                                    <div class="form-group">
                                        @{ var OPCEmail = ((@dealers != null) ? @dealers.OPCEmail : string.Empty); }
                                        <label class="control-label">Email Add : <span class="required">*</span></label>
                                        <input type="email" class="form-control" name="OPCEmail" value="@OPCEmail" required="">
                                    </div>
                                    <div class="form-group">
                                        @{ var OPCFax = ((@dealers != null) ? @dealers.OPCFax : string.Empty); }
                                        <label class="control-label">Fax : </label>
                                        <input type="text" class="form-control" name="OPCFax" value="@OPCFax">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="panel panel-color panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Authorized Personnel</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        @{ var Person1 = ((@dealers != null) ? @dealers.Person1 : string.Empty); }
                                        <label class="control-label">Person 1 : <span class="required">*</span></label>
                                        <input type="text" class="form-control" name="Person1" value="@Person1" required="">
                                    </div>
                                    <div class="form-group">
                                        @{ var Person2 = ((@dealers != null) ? @dealers.Person2 : string.Empty); }
                                        <label class="control-label">Person 2 : </label>
                                        <input type="text" class="form-control" name="Person2" value="@Person2">
                                    </div>
                                    <div class="form-group">
                                        @{ var Person3 = ((@dealers != null) ? @dealers.Person3 : string.Empty); }
                                        <label class="control-label">Person 3 : </label>
                                        <input type="text" class="form-control" name="Person3" value="@Person3">
                                    </div>
                                    <div class="form-group">
                                        @{ var Person4 = ((@dealers != null) ? @dealers.Person4 : string.Empty); }
                                        <label class="control-label">Person 4 : </label>
                                        <input type="text" class="form-control" name="Person4" value="@Person4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*panel panel-default*@
                        <div class="col-lg-12">
                            <div class="panel panel-color panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Financial Point of Contact</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @{ var FPCName = ((@dealers != null) ? @dealers.FPCName : string.Empty); }
                                            <label class="control-label">Name : <span class="required">*</span></label>
                                            <input type="text" class="form-control" name="FPCName" value="@FPCName" required="">
                                        </div>
                                        <div class="form-group">
                                            @{ var FPCEmail = ((@dealers != null) ? @dealers.FPCEmail : string.Empty); }
                                            <label class="control-label">E-mail : </label>
                                            <input type="text" class="form-control" name="FPCEmail" value="@FPCEmail">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @{ var FPCPhone = ((@dealers != null) ? @dealers.FPCPhone : string.Empty); }
                                            <label class="control-label">Phone No. : </label>
                                            <input type="text" class="form-control" name="FPCPhone" value="@FPCPhone">
                                        </div>
                                        <div class="form-group">
                                            @{ var FPCFax = ((@dealers != null) ? @dealers.FPCFax : string.Empty); }
                                            <label class="control-label">Fax : </label>
                                            <input type="text" class="form-control" name="FPCFax" value="@FPCFax">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="provided_vehicle_tab">
                    <table class="datatable-responsive table table-hover dataTable no-footer dtr-inline" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr class="table-header">
                                <th>
                                    Equipment ID
                                </th>
                                <th align="center">
                                    VIN
                                </th>
                                <th align="center">
                                    Ownership Type
                                </th>
                                <th align="center">
                                    Engine No.
                                </th>
                                <th align="center">
                                    Plate No.
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                if (@referencedFleet != null && @referencedFleet.Count() > 0)
                                {
                                    foreach (var item in referencedFleet)
                                    {
                                        <tr>
                                            <td><a href="#" id="@item.FleetID" style="color:#3498db">@item.NLID</a></td>
                                            <td>@item.VIN</td>
                                            <td>@item.OwnershipType</td>
                                            <td>@item.EngineNo</td>
                                            <td>@item.PlateNo</td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                    </table>

                </div>
                <div class="tab-pane" id="attachement_tab">
                    @if (dealers == null)
                    {
                        <div class="alert alert-warning">
                            <strong>Heads up! </strong>You can only attach file to an exsiting record!
                        </div>
                    }
                    else { 
                        <table class="datatable-responsive table table-hover dataTable no-footer dtr-inline" id="dealer_providers_table">
                            <thead>
                                <tr class="table-header">
                                    <th>
                                        File Name
                                    </th>
                                    <th align="center">
                                        File Size (Kb)
                                    </th>
                                    <th align="center">
                                        Description
                                    </th>
                                    <th align="center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    if (attachment != null && attachment.Count() > 0)
                                    {
                                        foreach (var item in attachment)
                                        {

                                            var path = item.file_source_location + item.FileName;
                                            var toDelete = item.DealerAttID + "`" + item.FileName + "`" + path;
                                        
                                            var image = "./Content/files/" + @item.FileName;
                                        
                                            <tr>
                                                <td align="left" valign="middle"><a rel="popover" data-img="@image" class="file-download" style="cursor:pointer;">@item.FileName</a></td>
                                                <td valign="middle" style="white-space: normal;">@item.FileSize </td>
                                                <td valign="middle" style="white-space: normal;">@item.Description</td>
                                                <td valign="middle" style="white-space: normal;">
                                                    <a data-toggle="tooltip" data-placement="top" data-original-title="Remove File" href="#" class="dealer-collect-file btn btn-icon waves-effect waves-light btn-danger p-lr-5" id="@toDelete"><i class="glyphicon glyphicon-trash"></i></a>
                                                    <a data-toggle="tooltip" data-placement="top" data-original-title="Download File" href="@Url.Action("downloadFile", "Dealers", new { path = path })" class="btn btn-icon waves-effect waves-light btn-default p-lr-5"><i class="md-file-download"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    }
                </div>
                <div class="tab-pane" id="others_tab">

                    @Html.Partial("CustomValues")

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Additional Remarks</b></h4>
                                <p class="text-muted font-13 m-b-25">
                                    Add additional note as reference
                                </p>
                                <div class="row">
                                    <div class="form-group">
                                        @{ var Notes = ((@dealers != null) ? @dealers.Notes : string.Empty); }
                                        <label class="control-label">Remarks : </label>
                                        <textarea class="form-control" name="Notes" rows="7">@Notes</textarea>

                                        <input type="hidden" name="console_value" id="console_values" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/Scripts/app/dealers.js"></script>
<script>

    $(document).ready(function () {

        $('ul.tabs').tabs();

        TableManageButtons.init("responsive_table");

        // attachment custom toolbar
        $('<button style="margin-top: 4px" type="button" data-toggle="tooltip" data-placement="left" data-original-title="Upload new file" class="add-attachment btn btn-primary waves-effect waves-light btn-sm m-b-5"><i class="fa fa-plus"></i></button>').appendTo('#dealer_providers_table_filter');
    
        $('.add-attachment').on('click', function (e) {

            e.stopImmediatePropagation();

            $loadPartialView("./Dealers/addEditAttachment", function (data) {

                $('#custom-modal .custom-modal-text').empty();
                $('#custom-modal .custom-modal-text').html(data);
                $('#custom-modal .custom-modal-title').text('Dealer Attachment');

                Custombox.open({
                    target: '#custom-modal',
                    effect: 'door',
                    plugin: 'custommodal',
                    overlayspeed: 100,
                    overlaycolor: '#36404a'
                });

                e.preventDefault();

            }, {})

        })

        $('[data-toggle="tooltip"]').tooltip();
        $('a[rel=popover]').popover({
            html: true,
            trigger: 'hover',
            placement: 'top',
            content: function () { return '<img class="img-responsive" src="' + $(this).data('img') + '" />'; }
        });


    });

</script>
