@model WebApp.Controllers.DealersInformation

@{
    var dealers = (Model.dealers != null) ? Model.dealers : null;
}
<table class="datatable-custom table table-hover dataTable no-footer" role="grid" aria-describedby="datatable_info" id="dealer_providers_table">
    <thead>
        <tr class="table-header">
            <th>
                Dealer Name
            </th>
            <th>
                Mailing Address
            </th>
            <th>
                E-mail Address
            </th>
            <th>
                Phone No.
            </th>
            <th>
                Operation POC
            </th>
            <th>
                Finance POC
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (@dealers.Count() > 0)
            {
                foreach (var item in dealers)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.OPCName</td>
                        <td>@item.FPCName</td>
                        <td class="actions">
                            <a id="@item.DealerRefCode"  data-toggle="tooltip" data-placement="top" data-original-title="View Dealer's Info" href="#" class="get-one-dealer btn btn-icon waves-effect waves-light btn-primary m-b-0"><i class="fa fa-search"></i></a>
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr class="noResult">
                    <td colspan="10"> No Records Found!</td>
                </tr>
            }
        }
    </tbody>
</table>



@section scripts{


    <script>

        $(document).ready(function () {

            TableManageButtons.init("to_datatable");
        });

    </script>

}